{#
name: Components / sidenav
description: |
  Render the template code you've just created

  - Data:
    - 'value': (string)

  - Options:
    - 'modifiers': (array) []
    - 'class': (string) null
variants:
  0:
    name: 'Default'
    twig: |
      {% from 'components/sidenav/sidenav.html.twig' import sidenav %}
      {{ sidenav() }}
    styles: views/components/sidenav/sidenav.scss
#}
{% macro sidenav(data, options) %}
    {% set name = 'sidenav' %}

    {% set defaults = {
        'class': null,
        'modifiers': [],
    } %}

    {% set options = merge_component_options(options, defaults) %}
    {% set class = render_classes(name, options.modifiers, options.class) %}

    {% set attrs = {
        'class': class,
        'data-controller': name,
    } %}

    <div {{ render_attrs(attrs) }}>
        <div class="{{ render_element_classes(name, 'brand') }}">
            <h1 class="{{ render_element_classes(name, 'brandname') }}">Falcon Player</h1>
            <div class="{{ render_element_classes(name, 'brandversion') }}">Version 6</div>
        </div>
        <div class="{{ render_element_classes(name, 'brandlogo') }}">
            {% set image_attrs = {
                'src': 'assets/views/components/sidenav/images/fpp-player-logo.png',
                'class': render_element_classes(name, 'brandlogoimage'),
                'title': 'Falcon Player logo',
                'alt': '',
            } %}
            <img {{ render_attrs(image_attrs) }}/>
        </div>
    </div>
{% endmacro %}
